.Header {
    padding: 1.5% 2.5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-name {
    font-family: 'Calibri';
    font-size: 2.2rem;
    font-weight: bold;
}

.Header .menu {
    position: relative;
    float: right;
    display: flex;
    justify-content: space-around;
    min-width: 15%;
}

.Header .menu .menu-content {
    border: 1px solid red;
    position: absolute;
    right: 0;
    width: 300px;
    height: 500px;
    background-color: white;
}

.Header .menu img {
    border-radius: 50%;
    cursor: pointer;
}
