.CalendarBody {
    height: 75%;
    padding: 30px 15px;
}

.grid-container {
    display: grid;
    height: 100%;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    /* grid-gap: 2vw; */
}

.grid-container > div {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.grid-container > div:hover {
    font-weight: bold;
    color: #f1c40f;
}

.weekend {
    color: grey;
}
